# Python:
*.py[cod]
*.so
*.egg
*.egg-info
*.pth
*.pb
*.h5
*.pbtxt
*.weights
dist
buil
.DS_Store*
.ipynb_checkpoints
__pycache__
darknet 
.vscode/settings.json
Pipfile
dataset
test.csv
test.py
test2.py
test3.py
